.hero-section {
   height: 450px;
   display: flex;
   flex-direction:row  ;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   gap: 40px;
   width: 100%;
   /*background-color: #a339294c;*/
   margin-left: 0;
 }
 
.hero-content {
   text-align: justify;
   margin-left: 2rem;
 }
 
 .hero-content h4 {
   font-size: 1rem;
   margin-bottom: 12px;
   line-height: 1.2;
   color: #000;
 }
 
 .highlight-text {
   color: #a33929; /* Color rosado para "Nosotros" */
   font-weight: bold;
 }

 .hero-image img {
   height: 35dvw; 
   margin-top: 2dvw;
 }

/*diseño responsivo*/

 