@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h2 {
  text-transform: capitalize;
  letter-spacing: 0.025em;
  font-size: 3rem;
  color: #fff;
}
.highlight-text {
  color: #de7372;   /*rosa para elegirnos*/
}


.container {
  margin-top: 5em;
  margin-bottom:5rem ;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 40px;  /* Espacio entre tarjetas */
}

.card {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 350px;
  margin: 10px 0;
  perspective: 1200px; /* Añadí perspectiva en el contenedor */
  transition: ease all 1.3s;
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg); /* Corregido rotateY */
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: black;
}

.card:hover h1 {
  transform: translateZ(100px);
}

.card:hover .price {
  transform: translateZ(60px);
}

.card:hover a {
  transform: translateZ(-60px) rotateY(-180deg); /* Corregido rotateY */
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: ease all 2.3s;
}

.cover:before {
  content: '';
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transform: translateZ(0px);
  transition: ease all 2.3s;
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}

.cover.item-a {
  background-image: url('https://images.pexels.com/photos/6373409/pexels-photo-6373409.jpeg');
}

.cover.item-b {
  background-image: url('https://images.pexels.com/photos/7242744/pexels-photo-7242744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.cover.item-c {
  background-image: url('https://images.pexels.com/photos/5908167/pexels-photo-5908167.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1://images.unsplash.com/photo-1525945518069-b924046d1385?auto=format&fit=crop&w=600&q=80');
}

.cover h1 {
  font-weight: 400;
  position: absolute;
  bottom: 55px;
  left: 35px;
  right: 22px;
  color: white;
  font-size: 1.8em;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  transform: translateZ(0px);
}



.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f1b7a2;
  transform-style: preserve-3d;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease all 2.3s;
}

.card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotateY(-180deg); /* Corregido rotateY */
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}

.card-back a:hover {
  background-color: white;
  color: #0b0f08;
}
