body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.equipo-container {
   width: 100%;
   padding: 2rem;
   background-color: #c2d1d0a5;
   box-sizing: border-box;
}

.title {
   font-size: 2.25rem;
   font-weight: bold;
   margin-bottom: 3rem;
   color: #000;
}

.highlight {
   display: block;
   color: #a33929;
}

/*carousel diseño*/
 
 /* Animation */
 @keyframes scroll {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(calc(-250px * 8));
   }
 }
 
 /*estilo del slider*/
 .slider {
   background: rgba(255, 255, 255, 0.553);
   box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
   height: 100px;
   margin: auto;
   overflow: hidden;
   position: relative;
   width: 960px;
 }
 
 .slider::before,
 .slider::after {
   content: "";
   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
   height: 100px;
   position: absolute;
   width: 200px;
   z-index: 2;
 }
 
 .slider::after {
   right: 0;
   top: 0;
   transform: rotateZ(180deg);
 }
 
 .slider::before {
   left: 0;
   top: 0;
 }
 
 .slider .slide-track {
   animation: scroll 10s linear infinite;
   display: flex;
   width: calc(250px * 14);
 }
 
 .slider .slide {
   height: 100px;
   width: 250px;
 }
 