
.carousel-container {
   position: relative;
   max-width: 1120px; 
   margin-top: 2.5rem;
   margin: 2.5rem auto;
 }
 
 /* Wrapper del carrusel con altura responsiva */
 .carousel-wrapper {
   height: 14rem; /* Altura predeterminada */
 }
 

 
 /* Estilo para las imágenes */
 .carousel-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0.5rem; /* Bordes redondeados */
 }
 
 /* Overlay con fondo semitransparente */
 .carousel-overlay {
   position: absolute;
   inset: 0; /* Ocupa toda la diapositiva */
   background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: white;
   border-radius: 0.5rem; /* Bordes redondeados coinciden con la imagen */
 }
 
 /* Título de la diapositiva */
 .carousel-title {
   font-size: 1.875rem; /* Tamaño de texto (30px) */
   font-weight: bold;
 }
 

 
 /* Texto descriptivo */
 .carousel-text {
   margin-top: 0.5rem;
   font-size: 1.125rem; /* Tamaño de texto (18px) */
 }
 

 
 /* Botones de control */
 .carousel-button {
   text-decoration: none;
   background-color: #4b5563; /* Gris */
   color: white;
   padding: 0.5rem;
   border-radius: 50%;
   transition: background-color 0.3s ease;
 }
 
 .carousel-button:hover {
   background-color: #1f2937; /* Gris oscuro */
 }
 
 @media (min-width: 640px) {
   .carousel-wrapper {
     height: 16rem;
   }
 }
 
 @media (min-width: 768px) {
   .carousel-wrapper {
     height: 20rem;
   }
 }
 
 @media (min-width: 1024px) {
   .carousel-wrapper {
     height: 24rem;
   }
 }
 
 @media (min-width: 1280px) {
   .carousel-wrapper {
     height: 31.25rem;
   }
 }
 @media (min-width: 640px) {
   .carousel-text {
     font-size: 1.25rem; /* Tamaño de texto (20px) */
   }
 }
 
 @media (min-width: 640px) {
   .carousel-title {
     font-size: 2.25rem; /* Tamaño de texto (36px) en pantallas más grandes */
   }
 }