body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.testimonials-container {
   width: 100%;
   padding: 2rem;
   box-sizing: border-box;
}

.testimonials-title {
   font-size: 2.25rem;
   font-weight: bold;
   margin-bottom: 3rem;
   color: #c6b294;
}

.testimonials-title-highlight {
   display: block;
   color: white;
}

/*diseño de tarjetas*/
.background{
   position: fixed;
   z-index: -1;
   top:-33vh;
   left: -100px;
   right: -100px;
   height: 60vmax;
   rotate: -4deg;
}

.card{
   border-radius: 12px;
   background: white;
   padding: 1rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid{
   display: grid;
   place-items: center;
   gap: 20px;
   width: 100%;
}

.grid > div {
   width: 100%;
}

.grid .primary {
   order: -1;
}

.testimonial {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.testimonial-header {
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}

.testimonial-image  {
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin-right: 1rem;
}

.testimonial-info {
   text-align: left;
}

.testimonial-name {
   font-size: 1.25rem;
   font-weight: bold;
}

.testimonial-position {
   font-size: 1rem;
   color: #777;
}

.testimonial-body {
   font-size: 1rem;
   color: #333;
}

@media (min-width: 768px) {
   body {
       height: 100vh; 
       padding: 60px 20px;
   }
   
   .grid {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
   }

   .grid > div {
      height: 100%;
   }

   .primary {
      order: -1;
      grid-column: 1 / 3;
   }

   .primary .card {
      max-width: 45vw;
   }

   .background {
      top: -25vh;
   }
}

@media (min-width: 980px) {
   .grid {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
   }

   .grid > div {
      height: auto;
   }

   .primary {
      order: 0;
      grid-column: auto;
   }

   .background {
      top: -100px;
   }
}
