.hero-section {
  height: auto;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
  background-image: url('../assets/img/HeroSection.png'); /* Ruta de la imagen */
  background-size: cover; /* La imagen cubre toda la sección */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  background-attachment: fixed; /* Imagen fija al hacer scroll */
  position: relative; /* Necesario si se usa la superposición */
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.292); /* Superposición oscura para mayor legibilidad */
  z-index: 1;
}

.hero-section > * {
  position: relative; /* Asegura que los elementos internos estén encima de la superposición */
  z-index: 2;
}



.hero-content {
  max-width: 50%;
  text-align: left;
  color: #fff;
  
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 12px;
  line-height: 1.2;
}

.comparte{
  color:#729d72;/* Color verde para "Comparte" */
  font-weight: bold;
}

.hero-button {
  margin: 8px;
  padding: 1em 2.1rem 1.1rem;
  background-color: #729d72; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  transition: color 1s ease-in-out;
}

.hero-button:hover{
  background-color: transparent;
  color:#fff;
  border: 3px solid #729d72;
}
.reasons-section {
  height: auto;
  min-height: 700px;
  background-color: #374f59; 
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 98.8vw;  /*largo del cuadro azul de reasons*/
  
}
.reason-card {
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.reason-card img {
  width: 80px;
  height: auto;
  margin-bottom: 1rem;
}

.reason-card h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.try-button {
  background-color: #8c8f94;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.try-button:hover {
  background-color: #6b6e73;
}

.coment-section{
  background-color: #374f59;
}

