/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Container */
.perfil-container {
    display: flex;
    height: 100vh;
    background-color: #e6f0f5;
}

/* Sidebar */
.sidebar {
    width: 100px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: stretch;
}

.logout-button {
    background: none;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
}

.logout-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

/* Main Content */
.perfil-content {
    flex: 1;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    margin: auto;
    max-width: 600px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.perfil-title {
    font-size: 1.8rem;
    color: #a63b24;
    margin-bottom: 1.5rem;
}

.perfil-avatar {
    position: relative;
    margin-bottom: 1rem;
}

.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.avatar-button {
    position: absolute;
    bottom: 0;
    right: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.camera-icon {
    width: 20px;
    height: 20px;
}

.perfil-username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 2rem;
}

/* Form */
.perfil-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #a63b24;
}

/* Save Button */
.save-button {
    grid-column: span 2;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #a63b24;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #872a1c;
}
